.deck-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: var(--deck-progress);
  height: 7px;
  background: repeating-linear-gradient(
    to right,
    green 0%,
    green 2px,
    transparent 6px
  );
}
