@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./assets/colors.css";

body {
  font-family: "Exo 2", sans-serif;
  background-color: var(--dark-blue);
  min-height: 100vh;
  margin: 0;
}
