@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: var(--dark-blue);
  min-height: 100vh;
  margin: 0;
}

:root {
  --dark-blue: #090e0f;
  --medium-dark-blue: #0f191f;
  --white: #ffffff;
  --light-grey: rgb(63, 72, 84); /* aprox. gray-600 */
}

.show-up-transition {
  transition: opacity 0.2s ease-in-out;
}

.border-transition {
  transition: border-color 0.3s ease-in-out;
}
